<div>
  <label>Number of participants:
    <input type="number" [(ngModel)]="numberOfParticipants" (keyup)="refreshChart()" (change)="refreshChart()">
  </label>
  <label>Minute per participant:
    <input type="number" [(ngModel)]="timePerParticipant" (keyup)="refreshChart()" (change)="refreshChart()">
  </label>
</div>
<highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor" [options]="chartOptions" [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag" style="width: 100%; height: 400px; display: block;"></highcharts-chart>