<h3>Conclusion</h3>
<p>
  One standup for <b>{{ settings.numberOfParticipants }}</b> people is
  <b>{{ singleTotalCost }}</b> {{ settings.yUnit }} in total VS
  <b>{{ numberOfTeams }}</b> standups with maximum
  <b>{{ settings.maxTeamSize }}</b> people each is
  <b>{{ multipleTotalCost }}</b> {{ settings.yUnit }} in total
</p>
<p>In reality people tend to speak longer if there are less participants.</p>
<p>
  A standup with more participants is good to share the big picture. Risk : not
  everyone listens to everyone.
</p>
<p>
  A standup with less participants is good to share details. Risk : too much
  detail, standup becomes a lengthy, unstructured discussion.
</p>
