<h3>Conclusion</h3>
<p>A standup for <b>{{numberOfParticipants}}</b> people is <b>{{singleTotalCost}}</b> {{yUnit}} in total VS multiple
  standups with
  max <b>{{maxTeamSize}}</b> people each is <b>{{multipleTotalCost}}</b> {{yUnit}} in total</p>
<p>In reality people tend to speak longer if there are less participants.</p>
<p>A standup with more participants is good to share the big picture. Risk : not everyone listens to everyone.</p>
<p>A standup with less participants is good to share details. Risk : too much detail, standup becomes a lengthy,
  unstructured discussion.</p>