<div class="wrapper">

    <div class="header">
        <mat-form-field>
            <input matInput type="number" min="2" placeholder="Number of participants" [(ngModel)]="numberOfParticipants">
        </mat-form-field>
        <mat-form-field>
            <input matInput min="1" placeholder="Minute per participant" type="number" [(ngModel)]="timePerParticipant">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Unit" [(value)]="yUnit">
                <mat-option *ngFor="let unit of units" [value]="unit.value">{{ unit.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput min="1" placeholder="Max participant per standup" type="number" [(ngModel)]="maxTeamSize">
        </mat-form-field>
    </div>

    <aside class="aside">

        <app-chart [maxTeamSize]="numberOfParticipants" [yUnit]="yUnit" [numberOfParticipants]="numberOfParticipants"
            [timePerParticipant]="timePerParticipant"></app-chart>
    </aside>

    <aside class="aside">
        <app-chart [maxTeamSize]="maxTeamSize" [yUnit]="yUnit" [numberOfParticipants]="numberOfParticipants"
            [timePerParticipant]="timePerParticipant"></app-chart>

    </aside>

    <div class="footer">
        Conclusion
        <ul>
            <li>sdf</li>
            <li>sdf</li>
        </ul>

    </div>

</div>