<h1 class="title">Daily standup cost calculator</h1>
<mat-form-field>
  <input
    matInput
    type="number"
    min="3"
    placeholder="Number of participants"
    [(ngModel)]="settings.numberOfParticipants"
    (ngModelChange)="modelChanged()"
  />
</mat-form-field>
<mat-form-field>
  <input
    matInput
    min="1"
    placeholder="Minute per participant"
    type="number"
    [(ngModel)]="settings.timePerParticipant"
    (ngModelChange)="modelChanged()"
  />
</mat-form-field>
<mat-form-field>
  <mat-select
    placeholder="Time unit"
    [(value)]="settings.yUnit"
    (selectionChange)="modelChanged()"
  >
    <mat-option *ngFor="let tes of (units | keyvalue)" [value]="tes.key">{{
      tes.value
    }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <input
    matInput
    min="1"
    placeholder="Max participant per standup"
    type="number"
    [(ngModel)]="settings.maxTeamSize"
    (ngModelChange)="modelChanged()"
  />
</mat-form-field>
